#first{
  color: white;
  
}

#midtext{
  padding-top: 10%;

}

#arrow{
  text-align: center;
  padding-top: 20%;
}

#middle{
  background-color: lightgray;
  padding-top: 5%;
}

#text{
  background-color: maroon;
  text-align: right;
  color: white;
}